/* Universal Selector */
*{
    margin: 5%;
}

/* Type Selector */
body{
    color: cadetblue;
    background-color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Class Selector */
.first{
    color: black;
}
/* one class value can be used multiple times */
.large{
    font-size: 30px;
}

/* ID Selector */
#eklist{
    background-color: brown;
}
/* uniquely identify something */

/* Attribute Selector */
a[href="upflairs.com"]{
    color: red;
}
input[type="text"]{
    background-color: blue;
    color: white;
}

/* Pseudo Selector */
.first:hover{
    color: white;
}